/* General Styles */

@font-face{
    font-family: monogram;
    src: url("monogram.ttf");
}


body{
    margin: 0;
    padding: 0;
    font-family: monogram, monospace;
    font-size: 1rem;
    overflow: hidden;
}


/* Styles of the Dialogue Component */

/* .ui-elements{
    width: 100%;
    height: 100%;
    position: relative;
} */


.dialogue-container{
    color: #15141d;
    width: 400px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 5px;
    outline-style: solid;
    padding: 1rem;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
    bottom: 10%;
    left: 32%;
}

.answer-container{
    color: #15141d;
    width: 400px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 5px;
    outline-style: solid;
    padding: 1rem;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
    bottom: 10%;
    left: 32%;
}


.btn-close{
    border-radius: 3px;
    padding: 0.5rem;
    border-style: none;
    font-size: inherit;
    font-family: inherit;
}


.button-container{
    align-self: flex-end;
}


#note{
    position: absolute;
    top: 3vh;
    left: 62%;
    user-select: none;

}
